*{
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    color: tomato;
}

.create_container{
    width: 50%;
}

.title{
    align-items: center;
    color: red;
}

input{
    width: 50%;
    padding: 12px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    
}

.create_button{
    padding: 12px 20px;
    background-color: rosybrown;
    border: 1px solid  rosybrown;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.book_container{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 50%;
    color: royalblue;
}

.marked-button{
    background-color: tomato;
    border: 2px solid #fad66a;
    
}